.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products-container>div {
    width: 408px;
    height: 370px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    font-family: Tw Cen MT, Times New Roman;
}

.products-image {
    display: block;
    max-width: 100%;
    width: 337px;
    height: 225px;
    padding: 15px 15px 15px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}